<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.employee.utilities.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.employee.testCases.TC001_Get_All_Employee" />
			<class name="com.employee.testCases.TC002_Get_Single_Employees" />
			<class name="com.employee.testCases.TC003_Post_Employee_Recored" />
			<class name="com.employee.testCases.TC004_Put_Employee_Recored" />
			<class name="com.employee.testCases.TC005_Delete_Employee_Recored" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
